body {
  margin: 0;
  padding: 0;
}

.photos {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.photo {
  box-sizing: border-box;
  width: 33.33333%;
  border: 1px solid #ddd;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photo img {
  width: 80%;
  margin: auto;
}
